<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Chronicler</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <ul>
    <li>
      <h2 id="cr"> <a href="index.html" target="_top">The Chronicler</a></h2>
    </li>
    <li><a href="layout.html" target="_parent"></a></li>
    <li><a href="index.html" target="_top">Home</a>
    </li>
    <li><a href="#news">Stories</a></li>
    <li><a href="login.html" target="_top" >Login</a></li>
    <li><a href="createAccount.html" target="_top">Create Account</a></li>
  </ul>
</body>
</html>
