<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <title>The Chronicler</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"> </script>

    <script src="../js/login.js"></script>

  </head>

  <body>
    <iframe src="layout.html" width="100%" height="" id="something"></iframe>
    <div class="logIn">
      <form method="post" id="new-story" action="text.csv">
      <h3>
        Log In
      </h3>
      <strong>
        Email
        <input type="text" name="email" id="email">
      </strong>
        <strong>
        Password
        <input type="text" name="password" id="password">
      </strong>
        <br><br>
        <input type="submit" name="create_Account" value="LogIn">
      </form>
    </div>
    <br>

      <!-- <script src="http://code.jquery.com/jquery-3.1.0.min.js"> </script> -->
      <!-- <script src="../js/login.js"></script> -->
    <a href="createAccount.html">Create Account</a>
    <br>
    <a href="forgotPassword.html">Forgot Password</a>
  </body>
  </html>
